.modal {
    display: none;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    overflow: hidden;
    background-color: rgba(29, 27, 27, 0.85);
    position: fixed;
    left: 50%;
    top: 50%;
}

/* Modal Content/Box */
.modal-content {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 40%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
    background-color: transparent;
    color: white;
    border: hidden;
}

.row {
    margin-left: 70px;
    margin-right: 70px;
}
