/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.container-d-flex-align-items-center-flex-column {
    background-color: aqua;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.navbar-expand-lg {
    height: 85px;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
    position: fixed;
}

.backdrop {
    height: 650px;
    overflow: hidden;
    margin: 0;
}

    .backdrop img {
        margin: -15.875% 0;
    }

.masthead-heading {
    margin-top: 225px;
    font-size: 75px;
    font-family: Arial;
}

.masthead-subheading {
    margin-top: 15px;
    font-size: 35px;
    font-family: Arial;
}

.main-page {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

#logo-thumb {
    height: 50px;
    width: auto;
}

#self-portrait {
    height: 200px;
    width: auto;
}

#portfolio-heading {
    padding-top: 80px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 45px;
}



#item-one, #item-two, #item-three {
    width: 350px;
    height: 252px;
    object-fit: cover;
    object-position: 20% 20%;
    filter: brightness(50%);
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
}

#about-content {
    color: white;
}

#about {
    background-color: rgb(16, 15, 15);
    overflow: hidden;
    margin: 0;
    padding-bottom: 50px;
}

#port-font, #about-font, #contact-font {
    font-size: 20px;
    transition: 0.4s;
}

#portfolio {
    margin-top: -3%;
    padding-bottom: 3%;
    background-color: #ffffff;
}

.modal {
    display: none;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    overflow: hidden;
    background-color: rgb(16, 15, 15);
    position: fixed;
    left: 50%;
    top: 50%;
}

/* Modal Content/Box */
.modal-content {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 40%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
    background-color: transparent;
    color: white;
    border: hidden;
}

.row {
    margin-left: 70px;
    margin-right: 70px;
}

#contact {
    overflow: hidden;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.form-group > label {
    font-weight: bold;
}

.footer {
    height: 200px;
    padding-top: 50px;
    background-color: rgb(16, 15, 15);
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
    padding-top: 60px;
    white-space: nowrap;
}



    .sidenav:hover {
        left: 0;
    }

    .sidenav a {
        display: block;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        white-space: nowrap;
    }


    .sidenav img {
        height: 100px;
        width: auto;
    }

    .sidenav div:hover {
        color: #f1f1f1;
    }



.animated {
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 95px;
    margin-bottom: 60px;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav div {
            font-size: 18px;
        }
}

@-webkit-keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.animated {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
    padding-top: 60px;
}
